*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: #111;
}

nav{
    width: 100%;
    height: 100px;
    background-color: rgb(22, 24, 22);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

nav i{
    font-size: 25px;
}

nav h2{
    color: rgb(25, 164, 118);
    letter-spacing: 2px;
}

main{
    background-color: rgb(36, 43, 46);
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left{
    width: 50%;
    height: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}

.song-img{
    background-image: url("./song-img/dhai-liter-dudh.webp");
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 2px 2px 20px rgba(0,0,0,0.8), inset -2px -2px 20px rgba(0, 0, 0, 0.8);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-img > img{
    position: absolute;
    width: 380px;
    height: 380px;
    display: none;
    user-select: none;
}

.vol-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    width: 100%;
    margin-top: 10px;
}

.volume-img{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 22px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(93, 92, 92, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8);
}

.vol-range {
    -webkit-appearance: none;
    width: 40%;
    height: 6px;
    background: linear-gradient(to right, rgb(0, 255, 145), rgb(0, 229, 255));
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8);
}

.vol-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(223, 85, 145);
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.05s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8);
}

.vol-range::-webkit-slider-thumb:hover{
    transform: scale(120%);
}

.right{
    width: 50%;
    height: 100%;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.details{
    width: 80%;
    height: 100px;
    box-shadow: 2px 2px 10px rgba(93, 92, 92, 0.8),-2px -2px 10px rgba(0, 0, 0, 0.8),-2px -2px 10px rgba(0, 0, 0, 0.8),-2px -2px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.song-name{
    font-size: 25px;
    color: rgb(0, 255, 225);
}

.song-singer{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.song-duration{
    -webkit-appearance: none;
    width: 60%;
    height: 6px;
    background: linear-gradient(to right, rgb(0, 255, 145), rgb(0, 229, 255));
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8);
}

.song-duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(223, 85, 145);
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.05s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8);
}

.song-duration::-webkit-slider-thumb:hover{
    transform: scale(120%);
}

.controls{
    width: 100%;
    height: 40px;
    /* background-color: lightcyan; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
}

.previous-div, .play-pause-div, .next-div{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(93, 92,92, 0.8), -2px -2px 10px rgba(0, 0, 0,0.8), -2px -2px 10px rgba(0, 0, 0, 08), -2px -2px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.previous-div:hover,
.play-pause-div:hover,
.next-div:hover{
    color: #ddd;
    transform: scale(90%);
}

.playlist{
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.333);
    position: absolute;
    left: 0;
    backdrop-filter: blur(10px);
    transform: translateX(-150%);
    transition: all 0.5s linear;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.playlist::-webkit-scrollbar {
    width: 6px;
}

.playlist::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 225, 0.641);
    border-radius: 10px;
}

.playlist::-webkit-scrollbar-track {
    background: transparent;
}

#playlist{
    cursor: pointer;
}

.playlist-songs{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    cursor: pointer;
}

.playlist-songs:hover{
    box-shadow: 2px 2px 10px rgba(93, 92, 92, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8);
    background-color: #2c2a2a;
}

.playlist-songs > img{
    width: 100px;
    height: 100px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.playlist-songs h2{
    color: rgb(0, 255, 225);;
}

.playlist-songs h4{
    color: rgb(255, 255, 255);
}

.detail-song{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

@media (max-width:600px) {
    main{
        flex-direction: column;
    }

    .left,.right{
        width: 100%;
        height: 50%;
    }

    .song-img{
        height: 40vw;
        width: 40vw;
    }

    .playlist{
        width: 100%;
    }

    .song-img{
        margin-top: 20px;
    }

    .song-img > img{
        height: 62vw;
        width: 62vw;
    }
}